[submodule "PlatformTM-web"]
	path = PlatformTM-web
	url = https://github.com/dsi-icl/PlatformTM-web.git
[submodule "PlatformTM-server"]
	path = PlatformTM-server
	url = https://github.com/dsi-icl/PlatformTM-server.git
